# https://stackoverflow.com/questions/3719243/best-practices-for-adding-gitignore-file-for-python-projects

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

data/**
output/**
.directory
api_key.txt
